
<div class="row">
    <div class="blur"></div>
    <div class="img__container">
        <img class="picture" data-toggle="modal" data-target="#dlModal">
    </div>
</div>

<div class="row">
    <div class="text__container" style="width: 250px">

        <div>
            <h4>You joined Mera team</h4>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat dolore ea, perspiciatis!</p>
            </div>
        </div>

        <div style="margin-top: 50px">
            <h4>Your activity in Mera team</h4>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat dolore ea, perspiciatis!</p>
            </div>
        </div>

    </div>
</div>

