<div>
    <div class="doc__title">Images</div>
    <div><a class="view__all" href="http://localhost:8000/#/home/images">{{listImageCtrl.choiseView()}}</a></div>
</div>
<div class="content__container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <span ng-repeat="image in listImageCtrl.images | limitTo:listImageCtrl.limitView">
                    <imgfile-comp image="image"></imgfile-comp>
                </span>
            </div>
        </div>
    </div>
</div>


